<span>
  <div class="topnav">
    <a [routerLink]="['/']"><img src="/assets/Logo.png" class="logo" alt= "logo" /></a>
    <a routerLink="/hombre" class="pagelink">Men</a>
    <a routerLink="/mujer" class="pagelink">Women</a>
    <a routerLink="/nino" class="pagelink">Kids</a>
    <a routerLink="/carrito"><img src="/assets/carrito.png" class="cart" alt="carrito" /></a>
    <a><img src="/assets/cuenta.png" class="account" alt="cuenta" /></a>
    <input placeholder="search" class="searchBar" />
  </div>
</span>
